/* Common to all pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.half-background {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 72%; 
  background-color: #f5f8ff;
  z-index: -1; 
}
.content {
  position: relative;
  z-index: 1; 
}
.header {
  position: relative;
  width: 100%;
  height: 10px; 
  overflow: hidden;
  margin-top: -5px;
  top: 0; 
}
/* Landing Page */
.landHead{
  position: absolute;
  top: 140px;
  left: 3%;
  font-size: 52px;
}
.landContent{
  position: absolute;
  top: 280px;
  left: 3%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.login{
  cursor: pointer;
  position: absolute;
  top: 400px;
  left: 3%;
  background-color: #ffffff;
  border-color: #ef8094;
  border-width: 5px;
  border-radius: 20px;
  padding: 10px 40px;
}
.create{
  cursor: pointer;
  position: absolute;
  top: 400px;
  left: 20%;
  background-color: #ffffff;
  border-color: #ef8094;
  border-width: 5px;
  border-radius: 20px;
  padding: 10px 40px;
}
.comp {
  position: absolute;
  left: 43%;
  top: 55px;
  width: 400px;
}
/* Login Page */
.box {
  width: 500px; 
  height: 400px;
  padding: 20px;
  margin: 100px auto; 
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: -1;
}
.head{
  position: relative;
  left: 38.75%;
  font-size: 30px;
}
.textbox {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none; 
  width: 100%; 
}
.textbox:focus {
  border-color: #ef8094; 
}
.btn{
  cursor: pointer;
  position: absolute;
  top: 300px;
  left: 45%;
  background-color: #ffffff;
  border-color: #ef8094;
  border-width: 5px;
  border-radius: 20px;
  padding: 10px 40px;
}
/* Create Account */
.head1{
  position: relative;
  left: 34.25%;
  font-size: 30px;
}
.textbox1 {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none; 
  width: 100%; 
}
.textbox1:focus {
  border-color: #ef8094; 
}
.btn1{
  cursor: pointer;
  position: absolute;
  top: 330px;
  left: 44.25%;
  background-color: #ffffff;
  border-color: #ef8094;
  border-width: 5px;
  border-radius: 20px;
  padding: 10px 40px;
}
/* main page */
.upload{
  position: absolute;
  top: 110px;
  left: 60%;
}
.search{
  position: absolute;
  top: 110px;
  left: 2.5%;
}